<%-include('./header.ejs') %>


   <!----------------------- Main body Start -------------------------- -->
   <style>
      body {
            background: url(../image/slider5.jpg) no-repeat center center/cover ;  
  }
   </style>
   <div class="row">
      <div class="col-sm-12">
         <div class="container-xxl">
            <section>
               <div class="container mt-3 pt-3 mb-5 pb-5 ">
                  <div class="row">
                     <div class="col-12 col-sm-8 col-md-8 m-auto">
                        <div class="card border-0  shadow">
                           <div class="card-body">
                              <h1 class="text-center imptext">Contact Us Now !</h1>
                              <form action="/insertcontact" method="post">
                                 <label for="">Full Name</label>
                                 <input type="text" name="userName" id="" class="form-control my-1 py-2" placeholder="Enter Name">
                                 <label for="">Email Id</label>
                                 <input type="email" name="emailId" id="" class="form-control my-1 py-2" placeholder="Enter Email Id">
                                 <label for="">Phone No</label>
                                 <input type="tel" name="mobileNo" id="" class="form-control my-1 py-2"
                                    placeholder="Enter Mobile Number">
                                 <label for="">Address </label>
                                 <input type="text" name="userAddress" id="" class="form-control my-1 py-2" placeholder="Enter Address">
                                 <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-dark btnbg mb-3">Send Message</button>
         
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
  
   <!-------------------------- Main body End  --------------------------->




   <%-include('./footer.ejs') %>